$font-stack: Source Code Pro, mono;
$background-color: #242222;
$primary-color: #f7eae1;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  display: grid;
  min-height: 100vh;
}

main {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100wh;
  position: relative;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 100vh;
}